
/*
 * Overrides...
 */

/* Override on Bootstrap...
 ========================================================= */
 
 .btn {
	padding-left: 20px;
	padding-right: 23px;
}
.btn-circle {
	border-radius: 20px;
}


/* breadcrumb
-----------------------------*/
.breadcrumb {
	font-size: 18px;
	background-color: transparent;
	margin-bottom: 0;
}

/* navbar
-----------------------------*/
.navbar-inverse {
	border-color: transparent;
	box-shadow:0px 3px 5px #999;
	background: rgba( 0, 0, 0, 0.9);
	
	& .navbar-brand {
		color: #bbb;
	}
	
	& .navbar-nav > li > a {
		color: #bbb;
	}
	
	& .navbar-nav > li > a:hover,
	& .navbar-nav > li > a:focus {
		color: #fff;
	}
	
	& .navbar-toggle {
		border-color: #eee;
	}
	
	& .navbar-toggle:hover,
	& .navbar-toggle:focus {
		background-color: #128f76;
	}
	
	& .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	
	& .navbar-nav > .open > a,
	& .navbar-nav > .open > a:hover,
	& .navbar-nav > .open > a:focus {
		color: #fff;
		background-color: #128f76;
	}
}
